.cart-container{
    width:100%;
}
.cart-container img{
    width:100px;
}
.added-cart{
    border:1px solid skyblue;
    display:flex;
    justify-content:space-between;
    padding:15px;
    margin:10px;
}
.cart-summery{
    width:50%;
    color:rgba(117, 117, 117, 0.87);
}
.total-price, .total-order, .order-list{
    border-top:1px solid lightgray;
    padding:20px;
    margin:10px;
    color:#f5491efd;
    font-weight:700;
}
.cart-price{
    color:rgb(187, 255, 0);
}
.total-order{
    border:none;
}
.order-list{
    color:rgb(25, 0, 255);
    text-align:center;
    border-bottom:1px solid lightgray;
}